<div class="card-holder">
    <app-cms-card
        title="Revenue"
        content="This is the content of the card."
        styleClass="custom-card">    
    </app-cms-card>
    <app-cms-card
        title="No of Sessions"
        content="This is the content of the card."
        styleClass="custom-card">    
    </app-cms-card>
    <app-cms-card
        title="Usage"
        content="This is the content of the card."
        styleClass="custom-card">    
    </app-cms-card>
    <app-cms-card
        title="Uptime"
        content="This is the content of the card."
        styleClass="custom-card">    
    </app-cms-card>
</div>